body {
  margin: 0;
  top: 0;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;

  box-sizing: border-box;

  padding-top: 50px;

  flex-direction: column;
  align-items: center;

  font-family: Verdana, Geneva, sans-serif;
  font-size: 40px;
  color: white;

  background-image: url(./background.jpg);
  background-size: cover;
  background-position: center;

  cursor: pointer;
}

.container h1 {
  font-weight: 500;
  font-size: 40px;
}

.email {
  margin-top: 30px;
  font-size: 30px;
}